name: 'SWM GitHub Actions Basic' # (선택) 구분용, 외부에서 api 호출용

on: push # 트리거 - ex) ['push', 'pull_request']

env: # 변수 설정
  GLOBAL_LEVEL: "This value comes from the WORKFLOW level"

# 계층 구조임
jobs: # 각 job당 독립된 서버 안에서 동작 - 공유 x
  first-job: 
    name: 'First Job'

    runs-on: ubuntu-latest

    steps:
    - name: Set output value
      id: first
      shell: bash

      # swm이라는 값으로 해당 step의 output을 저장
      run: |
        swm_value_1="This is the value for the first output"
        swm_value_2="This is the value for the second output"

        echo "::add-mask::$swm_value_1"
        echo "swm1=$swm_value_1" >> $GITHUB_OUTPUT
        echo "swm2=$swm_value_2" >> $GITHUB_OUTPUT

    - name: Get output value
      shell: pwsh

      # output이 있는 step의 순서로 참조 - first step의 outputs 중에서 swm1, swm2
      run: |
        echo "Output value 1 is: ${{ steps.first.outputs.swm1 }}"
        echo "Output value 2 is: ${{ steps.first.outputs.swm2 }}"
      